:root {
  --sidebar-bg: rgb(65, 65, 65);
  --sidebar-fg: rgb(146, 146, 146);
  --sidebar-greyed: rgb(100, 100, 100);
  --light-theme-bg: white;
  --light-theme-fg: black;
  --light-theme-title: darkblue;
  --dark-theme-bg:rgb(26, 24, 45);
  --dark-theme-fg:rgb(200, 200, 200);
  --dark-theme-title: blanchedalmond;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--sidebar-bg);
  color: var(--sidebar-fg);

  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row; 
  flex-direction: row; 
  float: left;
} 

/* Light mode */
@media (prefers-color-scheme: light) {
  .container {
    background-color: var(--light-theme-bg) !important;
    color: var(--light-theme-fg) !important;
  }

  .selected {
    background-color: var(--light-theme-bg) !important;
    color: var(--light-theme-fg) !important;
    border-right-color: var(--light-theme-bg) !important;
  }

  .kiss_rss-subscription, .kiss_rss-timestamp {
    color: var(--sidebar-bg) !important;
  }

  .kiss_rss-title {
    color: var(--light-theme-title)
  }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--dark-theme-bg) !important;
    color: var(--dark-theme-fg) !important;
  }

  .selected {
    background-color: var(--dark-theme-bg) !important;
    color: var(--dark-theme-fg) !important;
    border-right-color: var(--dark-theme-bg) !important;
  }

  .kiss_rss-subscription, .kiss_rss-timestamp {
    color: var(--sidebar-fg) !important;
  }

  .kiss_rss-title {
    color: var(--dark-theme-title)
  }

}

.sidebar {
  width: 40px;
  user-select: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .app-name {
  margin-top: 30px;
  width: 30px;
  text-align: left;
  line-height: 12pt;
  font-size: 10pt;
} 

.sidebar nav {
  margin-bottom: 10px;
}

.sidebar button {
  width: 40px;
  background-color: var(--sidebar-bg);
  color: inherit;
  border: 0;
  height: 40px;
  margin-top: 5px;
  font-size: 20px;
}

.sidebar button.active{
  color: #4b4c4c;
}

.sidebar .tab-nav {
  padding-right: 0;
}

.sidebar .tab-toggle {
  border-left: 3px solid var(--sidebar-bg);
  border-right: 10px solid var(--sidebar-bg);
  padding-right: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.sidebar li {
  text-align: center;
}

.sidebar li.active{
  color: var(--sidebar-greyed);
}

.sidebar ul.settings {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 30px;
  text-align: center;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  position: fixed;
  top: 1px;
  left: 40px;
  right: 1px;
  bottom: 1px;
}

.overflowing {
  display: flex;
  flex-direction: column;
  min-height: min-content;
}

.tab.selected {
  display: block;
}

.tab {
  display: flex;
  flex-direction: column;
  display: none;
}

.kiss_rss-news_item{
  min-height: fit-content;
  padding: 8px;
  padding-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kiss_rss-subscription {
  text-align: left;
  font-size: x-small;
  width:50%;
}

.kiss_rss-timestamp {
  text-align: right;
  font-size: x-small;
  width:50%;
}

.kiss_rss-title {
  text-align: left;
  width: 100%;
  padding-bottom: 8px;
}

.kiss_rss-summary {
  text-align: left;
  font-size: small;
  width: 100%;
}
