:root {
  --sidebar-bg: rgb(61 61 61);
  --sidebar-fg: rgb(213 206 206);
  --sidebar-greyed: rgb(227 212 212);
  --sidebar-hilite: rgb(240, 239, 239);
  --light-theme-bg: rgb(232, 228, 228);
  --light-theme-fg: rgb(58, 58, 58);
  --light-theme-fg-hilite: black;
  --light-theme-title: darkblue;
  --dark-theme-bg:rgb(27 27 27);
  --dark-theme-fg:rgb(189 189 189);
  --dark-theme-fg-hilite:white;
  --dark-theme-title: #f0f0f0;

  --radius: 0; /*6px;*/
  --margin: 1px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: var(--sidebar-bg);
  color: var(--sidebar-fg);

  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row; 
  flex-direction: row; 
  float: left;
} 

/* Light mode */
@media (prefers-color-scheme: light) {
  .tab {
    background-color: var(--light-theme-bg) !important;
    color: var(--light-theme-fg) !important;
    border: solid 2px var(--light-theme-bg);
  }

  ::-webkit-scrollbar {
    border-color: var(--light-theme-bg) !important;
  }

  ::-webkit-scrollbar-track {
    background: var(--light-theme-bg);
  }

  /* .selected {
    /* background-color: var(--light-theme-bg) !important; 
    color: var(--sidebar-hilite) !important;
    border-left-color: var(--sidebar-hilite) !important;
  } */

  .news_itms.subscription_name, .news_itms.timestamp {
    color: var(--sidebar-bg) !important;
  }

  .title {
    color: var(--light-theme-title)
  }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .tab {
    background-color: var(--dark-theme-bg) !important;
    color: var(--dark-theme-fg) !important;
    border: solid 2px var(--dark-theme-bg); 
  }

  ::-webkit-scrollbar {
    border-color: var(--dark-theme-bg) !important;
  }

  ::-webkit-scrollbar-track {
    background: var(--dark-theme-bg);
  }

  /* .selected {
    /* background-color: var(--dark-theme-bg) !important; 
    color: var(--sidebar-hilite) !important;
    border-left-color: var(--sidebar-hilite) !important;
  } */

  .news_itms.subscription_name, .news_itms.timestamp {
    color: var(--sidebar-fg) !important;
  }

  .title {
    color: var(--dark-theme-title)
  }

}

button {
  border: 0;
  font-size: 20px;
  background-color: inherit;
  color: inherit;
}

.sidebar {
  width: 40px;
  user-select: none;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .app-name {
  margin-top: 30px;
  width: 30px;
  text-align: left;
  line-height: 12pt;
  font-size: 10pt;
} 

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar nav.settings {
  position: fixed;
  bottom: 5px;
}

.sidebar button {
  /* border-radius: 15px 0 0 15px; */
  height: 20px;
  width: 40px;
  margin: 10px 0;
  background-color: var(--sidebar-bg);
  margin-top: var(--margin);
}

.sidebar button.selected {
  color: var(--sidebar-hilite) !important;
  border-left-color: var(--sidebar-hilite) !important;
}

.sidebar button.active{
  color: #4b4c4c;
}

.sidebar .tab_nav {
  margin-top: var(--margin);
  padding-right: 0;
}

.sidebar .tab_toggle {
  border-left: 2px solid var(--sidebar-bg);
  /* border-right: 10px solid var(--sidebar-bg);
  padding-right: 0; */
  height: min-content;
}

/* .sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.sidebar li {
  text-align: center;
}

.sidebar li.active{
  color: var(--sidebar-greyed);
} */

.expand {
  flex: 1;
}

.tab.selected {
  display: flex;
}

.tab {
  /* flex: 1; */
  display: flex; 
  flex-direction: column;
  display: none;
  /*border-radius: var(--radius);
   padding: 8px;
  padding-top: 2px; */
  position: absolute;
  left: 40px;
  right: var(--margin);
  top: var(--margin);
  bottom: 25px;
  /* border: solid 1px yellow; */
  /* position: fixed;
  top: 40px;
  left: 40px;
  right: 1px;
  bottom: 1px; */
}

.tab, .tab .section, .tab .content {
  border-width: 1px;
  border-color: var(--sidebar-bg);
  border-style: solid;
}

.tab .section, .tab .content {
  display: flex;
  padding: 3px;
}

.tab .section {
  flex-direction: row;
  /* 
  display: flex;
  border: solid 1px red; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 25px;
  padding: 0 var(--margin);
  background-color: var(--sidebar-bg);
  color: var(--sidebar-fg);*/
} 

.tab .content {
  flex: 1;
  flex-direction: column;
  overflow: auto;
  /* 
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 6px;
  border-radius: var(--radius); */
  /* border: solid 1px blue; */
    /* margin: 0;
  top: 40px;
  left: 40px;
  right: 1px;
  bottom: 1px; */
}

.overflowing {
  display: flex;
  flex-direction: column;
  min-height: min-content;
}

.news_item {
  min-height: fit-content;
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news_item .subscription_name {
  text-align: left;
  font-size: x-small;
  width:50%;
}

.news_item .timestamp {
  text-align: right;
  font-size: x-small;
  width:50%;
}

.news_item .title {
  text-align: left;
  width: 100%;
  padding-bottom: 4px;
}

.news_item .summary {
  text-align: left;
  font-size: small;
  width: 100%;
}

.subscription {
  width: 100%;
  min-height: fit-content;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}

.subscription .info{
  display: flex;
  flex-direction: row;
  font-size: smaller;
  height: 20px;
}

.subscription .name {
  flex: 1
}

.subscription .timestamp {
  position: absolute;
  right: 110px;
  width: 180px;
}

.subscription .update_rate {
  position: absolute;
  right: 40px;
  width: 70px;
  text-align: right;
}

.subscription .status {
  position: absolute;
  right: 4px;
  width: 25px;
  text-align: center;
}

.subscription .url {
  width:100%;
  text-align: left;
  font-size: x-small;
}

#add_subscription_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: var(--sidebar-bg) solid 1px;
  margin-top: 2px;
  font-weight: bolder;
}

#add_subscription_form input {
  flex: 1;
  height: fit-content;
  color: inherit;
  background-color: inherit;
  border: 0;
  margin: var(--margin);
  /* margin-right: 30px; */
  padding: 2px;
}
#add_subscription_form button {
  padding: 0;
  width: 22px;
  text-align: center;
  margin: var(--margin) 0;
} 


/* ---- scrollbar --- */
 /* width */
 ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-corner {
  background: var(--sidebar-bg)
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 3px; */
  border-radius: var(--radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sidebar-fg);
  /* border-radius: 3px; */
  border-radius: var(--radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-hilite);
} 
